<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/styles.css">
      <title>about</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}} 
      <p>This site was created by Anas Tazir</p>
      <img src="/img/me.png" alt="" height="250" width="250">
    </div>
      
       {{>footer}}
  </body> 
</html>
